@charset "UTF-8";

/*em HTML é id = em CSS é # (só pode em um elemento por página)
em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(158, 240, 90);

    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(175, 45, 6);
}

h1#principal{
    text-align: center;
    background-color: rgb(168, 42, 3);
    color: rgb(29, 216, 70);
}

h2{
    color: rgb(98, 119, 3);
}

.basico{
    color: rgb(6, 139, 6);
    font-weight: bold;
}

.intermediario{
    color:rgb(196, 196, 2)
}

.avancado{
    color: rgb(112, 4, 4);
}

.destaque{
    background-color: rgb(204, 23, 23);
}
