



































/* Color Theme Swatches in Hex 
.paleta-de-cor-dos-filtros-dos-carros-1-hex { color: #FFFFFF; }
.paleta-de-cor-dos-filtros-dos-carros-2-hex { color: #B2B2B2; }
.paleta-de-cor-dos-filtros-dos-carros-3-hex { color: #000983; }
.paleta-de-cor-dos-filtros-dos-carros-4-hex { color: #F20505; }
.paleta-de-cor-dos-filtros-dos-carros-5-hex { color: #5E5E5E; }
.paleta-de-cor-dos-filtros-dos-carros-6-hex { color: #000000; }

/* Color Theme Swatches in RGBA 
.paleta-de-cor-dos-filtros-dos-carros-1-rgba { color: rgba(255, 255, 255, 1); }
.paleta-de-cor-dos-filtros-dos-carros-2-rgba { color: rgba(178, 178, 178, 1); }
.paleta-de-cor-dos-filtros-dos-carros-3-rgba { color: rgba(0, 9, 131, 1); }
.paleta-de-cor-dos-filtros-dos-carros-4-rgba { color: rgba(242, 5, 5, 1); }
.paleta-de-cor-dos-filtros-dos-carros-5-rgba { color: rgba(94, 94, 94, 1); }
.paleta-de-cor-dos-filtros-dos-carros-6-rgba { color: rgba(0, 0, 0, 1); }

/* Color Theme Swatches in HSLA 
.paleta-de-cor-dos-filtros-dos-carros-1-hsla { color: hsla(0, 0, 100, 1); }
.paleta-de-cor-dos-filtros-dos-carros-2-hsla { color: hsla(0, 0, 69, 1); }
.paleta-de-cor-dos-filtros-dos-carros-3-hsla { color: hsla(235, 100, 25, 1); }
.paleta-de-cor-dos-filtros-dos-carros-4-hsla { color: hsla(0, 95, 48, 1); }
.paleta-de-cor-dos-filtros-dos-carros-5-hsla { color: hsla(0, 0, 36, 1); }
.paleta-de-cor-dos-filtros-dos-carros-6-hsla { color: hsla(0, 0, 0, 1); }

