@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #B2B2B2,#5E5E5E);
}

main{
    background-color: white;
    border-radius: 10px;
     box-shadow: 5px 5px 15px #000000;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #F20505;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2{
    color:#000983 ;
}
p{
    text-align: justify;
}